    <h2>
         <input type="checkbox"> Make the curriculum <%=@pomodoro_estimate %> pomodoros
    </h2>
       <h3>
        <%= @todo_description %>
       </h3>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
        <button>
            <a href="index.html">Go Back...</a>
        </button>
